body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.top-nav {
    text-align: right;
    padding: 10px;
    background-color: #333;
}

.top-nav .top-nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.top-nav .top-nav-link:hover {
    background-color: #555;
}

nav {
    background-color: #ddd;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #337ab7;
    color: #fff;
}

h1 {
    color: #333;
}



.container {
    max-width: 800px;
    margin: 20px auto;
}

.vacancy-list {
    list-style-type: none;
    padding: 0;
}

.vacancy-list li {
    background-color: #f9f9f9;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.vacancy-list li h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.vacancy-list li p {
    margin-bottom: 8px;
    font-size: 16px;
}

.vacancy-list li a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.vacancy-list li a:hover {
    text-decoration: underline;
}

.back-link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}



.rezume-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 4px;
}

.rezume-form label {
    display: block;
    margin-bottom: 10px;
    color: #495057;
}

.rezume-form input[type="text"],
.rezume-form input[type="email"],
.rezume-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

.rezume-form textarea {
    height: 150px;
}

.rezume-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rezume-form input[type="submit"]:hover {
    background-color: #0056b3;
}


