{% extends 'base.html' %}
{% load static  %}
{% block title %} lOGIN {% endblock  %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock style %}
{% block content %}

<form  method="post">
    {% csrf_token %}
    <div>
        {{form.username.label_tag}}
        {{form.username}}
        {{form.username.errors}}
    </div>
        <div>
        {{form.email.label_tag}}
        {{form.email}}
        {{form.email.errors}}
    </div>
    <div>
        {{form.password.label_tag}}
        {{form.password}}
        {{form.password.errors}}
    </div>
    <input type='submit' value="Регистрация">

</form>
{% endblock content %}
